$main-font: "Raleway", sans-serif;
$font-color: #414141;
$header-color: #ffcc00;
$font-size: 14px;
$font-height: 1.5; //line-height
$font-weight: 300;
$color-bg: #fff;

/** Grid variables **/
$container-width: 1200px;
$col-padding: 15px;