@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,400,700,900');
@import "normalize";
@import "variables";
@import "grid";
@import "btn";
@import "input";
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?56r2f6');
  src:  url('../fonts/icomoon.eot?56r2f6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?56r2f6') format('truetype'),
    url('../fonts/icomoon.woff?56r2f6') format('woff'),
    url('../fonts/icomoon.svg?56r2f6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-cross:before {
  content: "\ea0f";
}

/* Basic styles */
*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
}

body,
html{
    font-family: $main-font;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $font-height;
    color: $font-color;
    background: $color-bg;
    width: 100%;
    letter-spacing: 1px;
}

a, button{
    transition: all 0.5s ease;
    outline: none;
}

.ca-wrapper-img {
  position: relative;
}

.ca-wrapper-img__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #00c4c4;
}

.ca-wrapper-img:hover .ca-wrapper-img__overlay {
  opacity: 0.7;
}

/* Info */

.info--white {
    color: #fff;
}

.ca-info__title {
    margin-bottom: 19px;
    font-size: 90px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
}

.title--w800 {
    font-size: 60px;
    font-weight: 800;
    text-align: left;
}

.title--size40 {
    font-size: 40px;
}

.title--nomargin {
    margin-bottom: 0;
}

.title--margin30 {
    margin-bottom: 30px;
}

.ca-info__text + .ca-info__text {
    margin-top: 10px;
}

.info__text--padd {
    padding-bottom: 14px;
}

/* First Slide */

.ca-first-slide {
    position: relative;
    min-height: 100vh;
    background: #f9f8fb url("../img/img1.jpeg") no-repeat center center; 
    background-size: cover;
}

.ca-first-slide__next-link{
    position: absolute;
    left: 50%;
    bottom: 69px;
    display: block;
    transform: translateX(-50%);  

    &:hover,
    &:focus{
        opacity: 0.4;
    }
}

/* Header */
.ca-logo{
    display: inline-block;
    vertical-align: middle;
}

.ca-header {
    .ca-logo {
    width: 12%;
    }
}

.ca-header{
    padding-top: 48px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.ca-menu{
    display: inline-block;
    vertical-align: middle;
    width: 88%;
    text-align: right;
}

.ca-menu__list{
    list-style: none;
    padding-left: 0;
}

.ca-menu__item{
    display: inline-block;
    padding-left: 18px;
    padding-right: 18px; 
}

.ca-menu__item:last-child {
    padding-right: 0;
} 

.ca-menu__link {
    position: relative;
    display: inline-block;
    padding: 12px 0;
    color: #262626;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;

    &:after{
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        opacity: 0;
        height: 3px;
        background: #ff6033;
        content: '';
        transition: all 0.5s ease;
    }

    &:hover:after,
    &:focus:after{
        opacity: 1;
    }
}

.ca-first-slide-content {
    padding-top: 352px;
    padding-bottom: 404px; 
    max-width: 31.62%;
}

/* Slide-about-us */

.ca-slide-about-us {
    background: #00b2b1;
    padding: 70px 0 71px; 
}

.ca-slide-about-us__content {
    padding-left: 85px;
    padding-top: 99px; 
}

/* Slide-services */

.ca-slide-services {
    background: #70bfff;
    padding: 100px 0 151px; 
}

.ca-slide-services{
    .row{
        margin: 0;
    }
}

.ca-slide-services__wrap-img {
    position: relative;
    padding-left: 105px;
}

.info--center-right {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

/* Slide-gallery */

.ca-slide-gallery {
    background: #ffe92f;
    text-align: center;
    padding: 89px 0 120px;
}

.gallery-margin--top{
    margin-top: 5px;
}


/* Slide-Subscribe */

.ca-slide-subscribe {
    background: #fff url("../img/bg5.jpeg") no-repeat center center; 
    background-size: cover;
    padding: 141px 0 163px;

}

.title--size40{
    text-align: left;
}

/* Slide-Blog */

.ca-slide-blog {
    background: #b07cf7; 
    padding: 89px 0 120px;
    color: #fff;
    text-align: center;
}

.ca-slide-blog{
    .info__text--padd {
        padding-bottom: 12px;
    }
}

.ca-date {
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 0 8px 5px;
    border-radius: 5px;
    background-color:  rgba(38, 38, 38, 0.5);
    text-transform: uppercase;
}

.ca-date__day {
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
}

.ca-date__month {
    font-size: 21px;
    font-weight: 800;
    line-height: 1.1;
}

.ca-img-blog-content {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 50px 20px 20px 20px;
    text-align: left;
}

.ca-img-blog-content__subject {
    position: relative;
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.25;
    color: #fff;

    &:after{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        opacity: 0;
        height: 2px;
        background: #fff;
        content: '';
        transition: all 0.5s ease;
    }

    &:hover:after,
    &:focus:after{
        opacity: 1;
    }

    &:hover,
    &:focus{
        color: #ffc002;
    }
}

.ca-img-blog-content__info-text {
    font-size: 13px;
}

/* Slide-Contact */

.ca-slide-contact {
    background: #3881b7 url("../img/bgfoot.jpeg") no-repeat center center; 
    background-size: cover;
    text-align: center;
    padding: 88px 0 33px;
}

.ca-slide-contact {
    .info__text--padd{
        padding-bottom: 11px;
    }
}

.ca-form-contact {
    padding-right: 70px;
    text-align: left;
}

.ca-msg {
    display: block;
    padding: 3px 20px;
    width: 100%;
    outline: none;
    resize: none;
    overflow: auto;
    border: 1px solid transparent;
    background:  rgba(0, 196, 196, 0.5);
    color:  #fff;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 700;

    &:focus{
      background:  rgba(0, 196, 196, 1);  
    }
}

.ca-contact-details {
    padding-left: 70px;
    text-align: left;
}

.ca-contact-details__title {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 0.8;
}

.ca-contact-details__link {
    margin-bottom: 13px;
    font-size: 20px;
    line-height: 1.7;
}

.ca-contact-details__link{
    a {
        text-decoration: none;
        color: inherit;

        &:hover,
        &:focus{
            text-decoration: underline;
            color: blue;
        }
    }
}

/* Footer */

.ca-footer {
    background: #262626;
    color:  #b9b9b9;
    font-size: 16px;
    line-height: 90px;
    text-align: center;
}
.ca-footer__copyright,
.ca-footer__made {
    display: inline-block;
    vertical-align: middle;
}

.ca-footer__copyright {
    float: left;
}

.ca-footer__made {
    float: right;
    font-size: 15px;
}

.ca-footer__made {
    span{
        color:  #ff2b58;
        font-size: 15px;
        font-weight: 700;
    }
}

@media (max-width: 1024px){

    .ca-first-slide-content{
        padding: 300px 0 200px;
    }

    .ca-info__title{
        text-align: center;
    }

    .info--center-right{
        right: 0;
        left: 50px;
        top: 55%;
    }

    .ca-slide-services{
        padding: 0px 0 50px;
    }

    .ca-slide-services__wrap-img{
        padding-top: 125px;
    }

    .row{
        padding: 0;
        margin: 0;
    }

    .ca-contact-details {
        padding-left: 35px;
    }

    .width-m320{
        padding-left: 0;
    }

    .btn-view{
        left: 0;
    }

    .title--small{
        font-size: 70px;
        text-align: left;
    }

    .title--size40{
        text-align: left;
    }

    .ca-img-blog-content{
        padding: 20px;
    }
}

@media (max-width: 960px){
    .title--small{
        font-size: 70px;
    }

    .ca-slide-about-us{
        padding: 40px 0 40px;
    }

    .ca-slide-about-us__content{
        padding: 65px 0 0 35px;
    }

    .ca-slide-subscribe{
        padding: 70px 0 80px;
    }

    .ca-slide-gallery{
        padding: 59px 0 50px;
    }

    .col-4{
        padding: 0 7px;
    }

    .row + .row{
        margin-top: 20px;
    }

    .ca-img-blog-content__subject{
        margin-bottom: 5px;
    }

    .ca-img-blog-content{
        padding-top: 20px;
    }

    .ca-slide-blog{
        padding: 49px 0 60px;
    }

    .info__text--padd{
        padding-left: 35px;
    }

    .title--w800{
        font-size: 50px;
        text-align: left;
    }

    .gallery-info--width{
        width: 100%;
        margin-left: 0;
    }

    .btn-view{
        left: 0;
    }

}

@media (max-width: 768px){
    .ca-header{
        padding-top: 28px;
    }

    .ca-menu{
        width: 82%;
    }

    .ca-first-slide-content{
        padding: 180px 0 150px;
    }

    .title--w800{
        font-size: 40px;
        text-align: left;
    }

    .ca-first-slide__next-link{
        bottom: 39px;
    }

    .ca-slide-about-us__content {
        padding-top: 35px;
    }

    .ca-menu__link{
        font-size: 13px;
    }

    .ca-menu__item{
        padding: 0 8px 0 8px;
        font-size: 10px;
    }

    .ca-slide-services__btn{
        width: 300px;
    }

    .ca-info--white{
        width: 100%;
        display: block;
    }

    .title--small{
        font-size: 50px;
        text-align: left;
    }

    .title--nomargin{
        font-size: 60px;
    }

    .ca-slide-services__wrap-img{
        padding-top: 155px;
        padding-left: 55px;
    }

    .info--center-right{
        transform: translateY(0);
    }

    .ca-slide-services__btn:first-child{
        margin-top: 59px;
    }

    .title--margin30{
        font-size: 60px;
    }

    .info__text--padd{
        padding-left: 0;
    }

    .gallery-info--width{
        width: 100%;
        margin-left: 0;
    }

    .padding--img{
        padding: 0;
    }

    .padding-img--second-line{
        padding: 7px;
    }

    .title--size40{
        text-align: left;
    }

    .ca-img-blog-content__subject{
        font-size: 14px;
    }

    .ca-date{
        top: 20px;
        left: 20px;
    }

    .ca-slide-contact{
        padding-top: 48px;
    }

    .ca-form-contact{
        padding: 0;
    }

    .btn-view{
        left: 0;
    }
}

@media (max-width: 425px){
    .ca-first-slide{
        background: white;
    }

    .ca-menu{
        width: 100%;
        text-align: left;
    }

    .ca-menu__link{
        font-size: 16px;
    }

    .ca-menu__item {
        padding: 0 3px 0 3px;
    }

    .ca-first-slide-content{
        padding: 50px 0 60px;
        max-width: 100%;
        text-align: center;
    }

    .ca-first-slide__next-link{
        display: none;
    }

    .ca-img-blog-content__subject{
        font-size: 20px;
    }

    .ca-img-blog-content{
        padding-top: 40px;
    }

    .title--w800{
        text-align: center;
    }

    .btn--orange{
        margin-top: 110px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .display-none-img{
        display: none;
    }

    .ca-slide-about-us__content{
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .title--small{
        text-align: center;
        font-size: 40px;
    }

    .ca-slide-services__wrap-img img{
        display: none;
    }

    .width--85{
        margin: 0;
        width: 100%;
    }

    .ca-slide-services__wrap-img {
        padding: 0;
        width: 100%;
    }

    .title--nomargin{
        font-size: 40px;
    }

    .info--center-right{
        text-align: center;
        left: 0;
    }

    .ca-slide-services__btn{
        width: 280px;
    }

    .ca-slide-services__btn:first-child{
        margin-top: 29px;
    }

    .title--margin30 {
        font-size: 40px;
    }

    .ca-slide-gallery {
        padding-top: 29px;
    }

    .padding--img{
        width: 100%;
    }

    .col-4{
        width: 100%;
    }

    .row + .row {
        margin-top: 10px;
    }

    .padding-img--second-line{
        width: 100%;
    }

    .btn--blue{
        width: 100%;
    }

    .ca-slide-subscribe{
        background: white;
    }

    .width-m320{
        width: 100%;
        padding: 5px;
    }

    .title--size40{
        font-size: 30px;
        text-align: center;

    }

    .ca-slide-subscribe{
        padding: 30px 0 40px;
        text-align: center;
    }

    .ca-slide-contact{
        background: white;
    }

    .ca-contact-details{
        padding-left: 0;
    }

    .ca-slide-contact{
        padding-bottom: 10px;
    }

    .ca-header{
        position: inherit;
    }

    .ca-first-slide-content {
        padding: 100px 0 60px;
    }

    .ca-footer__copyright{
        font-size: 14px;
    }

    .ca-footer{
        line-height: 30px;
    }

    .no-logo-mob{
        display: none;
    }

    .ca-footer__made{
        width: 100%;
        text-align: left;
        float: none;
    }

    .ca-menu__link{
        text-transform: capitalize;
        font-size: 14px;
        letter-spacing: 0px;
    }

    .btn{
        width: 100%;
    }

    .btn-view{
        width: 100%;
        left: 0;
    }
}

@media (max-width: 320px){

    .ca-first-slide{
        background: white;
    }

    .ca-menu{
        width: 100%;
        text-align: left;
    }

    .ca-menu__link{
        font-size: 9px;
    }

    .ca-menu__item {
        padding: 0 3px 0 3px;
    }

    .ca-first-slide-content{
        padding: 200px 0 60px;
        max-width: 100%;
        text-align: center;
    }

    .ca-first-slide__next-link{
        display: none;
    }

    .title--w800{
        text-align: center;
    }

    .btn--orange{
        width: 100%;
        margin-top: 110px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .display-none-img{
        display: none;
    }

    .ca-slide-about-us__content{
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .title--small{
        text-align: center;
        font-size: 40px;
    }

    .ca-slide-services__wrap-img img{
        display: none;
    }

    .width--85{
        margin: 0;
    }

    .ca-slide-services__wrap-img {
        padding: 0;
        width: 100%;
    }

    .title--nomargin{
        font-size: 40px;
    }

    .info--center-right{
        text-align: center;
        left: 0;
    }

    .ca-slide-services__btn{
        width: 280px;
    }

    .ca-slide-services__btn:first-child{
        margin-top: 29px;
    }

    .title--margin30 {
        font-size: 40px;
    }

    .ca-slide-gallery {
        padding-top: 29px;
    }

    .padding--img{
        width: 100%;
    }

    .col-4{
        width: 100%;
    }

    .row + .row {
        margin-top: 10px;
    }

    .padding-img--second-line{
        width: 100%;
    }

    .btn--blue{
        width: 100%;
    }

    .ca-slide-subscribe{
        background: white;
    }

    .width-m320{
        width: 100%;
        padding: 5px;
    }

    .title--size40{
        font-size: 30px;
        text-align: center;

    }

    .btn--green{
        width: 100%;
    }

    .ca-slide-subscribe{
        padding: 30px 0 40px;
        text-align: center;
    }

    .ca-slide-contact{
        background: white;
    }

    .ca-contact-details{
        padding-left: 0;
    }

    .ca-slide-contact{
        padding-bottom: 10px;
    }

    .ca-header{
        position: inherit;
    }

    .ca-first-slide-content {
        padding: 100px 0 60px;
    }

    .ca-footer__copyright{
        font-size: 14px;
    }

    .ca-footer{
        line-height: 30px;
    }

    .no-logo-mob{
        display: none;
    }

    .ca-footer__made{
        width: 100%;
        text-align: left;
        float: none;
    }

    .ca-menu__link{
        text-transform: capitalize;
        font-size: 11px;
        letter-spacing: 0px;
    }

    .btn-view{
        width: 100%;
        left: 0;
    }

    .ca-img-blog-content__subject{
        font-size: 14px;
    }
}
